.char__img{
    border-radius: 40px;
    border: solid 15px rgba(256,256,256,0.3);
    margin:2rem;
}
.char__name{
    font-size:5rem;
    font-weight: 600;
}
.char-tag__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.char-tag__element{
    font-size:2rem;
    color:black;
    font-weight:500;
    background-color:rgba(256, 256, 256, 0.7);
    padding:0.7rem;
    border-radius:40px;
}